@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(0deg, rgba(253,255,214,1) 34%, rgba(255,255,255,1) 100%);
}


h1 {
    text-align: center;
    font-family: 'Kalam', cursive;
}


#catalogo,
#carrito {
    float: left;
    width: 75%;
    padding: 20px;
}

#catalogo h2,
#carrito h2 {
    margin-top: 0;
    font-family: 'Kalam', cursive;
}

#items,
#carrito-items {
    border: none;
    padding: 10px;

}

#total {
    font-weight: bold;
    text-align: right;
}


.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.item {
    
    padding: 10px;
    text-align: center;

}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item p {
    margin-bottom: 5px;
    font-family: 'Kalam', cursive;
}

.item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#formulario {
    display: none;
    align-items: center;
    margin-top: 20px;
}

#formulario h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#formulario input[type="text"] {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 25px;
}

#confirmar {
    padding: 10px 10px;
    font-size: 15px;
}

#botones-carrito {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#comprar,
#vaciar-carrito {
    width: 150px;
}