
  @import url('https://fonts.googleapis.com/css2?family=Dongle&family=Love+Light&family=Roboto:ital,wght@0,100;0,400;0,900;1,300&family=Sedgwick+Ave+Display&family=Shadows+Into+Light+Two&display=swap');
*{
    font-family: 'Dongle', sans-serif;
    font-size: 14px;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 15px;
}
figure {
    padding: 0px;
    margin: 3px;
}

img {
    width: 100%;
    border-radius: 15px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Descripcion Fotos"
        "pieproducto pieproducto";
    width: 500px;
    height: 250px;
    background-color: gray;
    border-radius: 25px;
    padding: 5px;
    margin: 15px;
}

.columna2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Descripcion {
    grid-area: Descripcion;
    background-color: blue;
    padding: 10px;

}

.Fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Foto-1 Foto-2"
        "Foto-3 Foto-4";
    grid-area: Fotos;
}

.Foto-1 {
    grid-area: Foto-1;
}

.Foto-2 {
    grid-area: Foto-2;
}

.Foto-3 {
    grid-area: Foto-3;
}

.Foto-4 {
    grid-area: Foto-4;
}

.pieproducto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Estado Social Carrito";
    grid-area: pieproducto;
    background-color: coral;

}

.Estado {
    grid-area: Estado;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Social {
    grid-area: Social;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Carro {
    grid-area: Carrito;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}