
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .titulo {
    background: rgba(76, 76, 76, 0.78);
    border-radius: 20px;
    position: absolute;
    width: 613px;
    height: 59px;
    left: 50%;
    transform: translateX(-50%);
    top: 56px;
    padding: 2mm;
  }
  
  h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 39px;
    color: #fff;
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(32, 118, 32)
  }
  
  .flashcard {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 40px;
    top: 150px;
  }
  
  .flashcard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
  }
  
  .flashcard .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #4bb652e3;
  }
  
  .flashcard .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .flashcard .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #3b463a;
    text-align: center;
  }
  
  .flashcard .back {
    transform: perspective(600px) rotateY(180deg);
    background: #61705e;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
  }
  
  .flashcard .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
  }
  
  .flashcard .back .link a {
    color: #f3f3f3;
  }
  
  .flashcard .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  
  .flashcard .back p {
    letter-spacing: 1px;
  }
  
  .flashcard:hover .front {
    transform: perspective(600px) rotateY(180deg);
  }
  
  .flashcard:hover .back {
    transform: perspective(600px) rotateY(360deg);
  }
  
  /* Media queries */
  
  @media screen and (max-width: 768px) {
    .titulo {
      width: 90%;
      max-width: 400px;
    }
    
    .flashcard {
      width: 90%;
      max-width: 300px;
    }
    
    .titulo h1 {
      font-size: 24
    }
}