* {
    font-family: 'Inter';
    font-style: normal;
  }
  
  body {
    position: relative;
    background: rgba(64, 63, 99, 0.92);
  }
  
  .BarraSuperior {
    display: flex;
    flex-direction: row;
  }
  
  .Contenido {
    display: flex;
    flex-direction: row;
  }
  
  
  #bienve {
    margin-left: 77px;
    margin-right: 117px;
    color: #FFFFFF;
  }
  
  
  #conta {
    margin-right: 117px;
    color: #FFFFFF;
  }
  
  #regis {
    margin-right: 117px;
    color: #FFFFFF;
  }
  
  h3 {
    display: inline-block;
    margin-top: 18px;
  }
  
  .botones {
    width: 1250px;
    height: 68px;
    margin-left: 25px;
    margin-top: 53px;
    background: #EA5D30;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 83px;
    position: relative;
    width: 548px;
    height: 390px;
    margin-left: 50px;
    text-align: left;
    color: #FFFFFF;
  }
  
  p {
    position: relative;
    width: 488px;
    height: 242px;
    margin-left: 50px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
  }
  
  .Formulario {
    width: 90%;
    max-width: 620px;
    height: auto;
    left: 22%;
    transform: translateX(-50%);
    margin-left: 25px;
    margin-top: 53px;
  
    position: relative;
    background: #EA5D30;
    border-radius: 25px;
    padding: 1em;
    text-align: center;
    margin-bottom: 50px;
    color: #FFFFFF;
  
  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="text"] {
    width: 90%;
    height: 68px;
    background: #FDEEBF;
    border-radius: 10px;
    border-color: #FDEEBF;
    border-style: solid;
    margin-bottom: 24px;
    padding-left: 30px;
    left: 22%;
  }
  
  #descripcion {
    width: 90%;
    height: 104px;
  }
  
  input[type="checkbox"] {
    position: absolute;
    width: 96px;
    height: 71px;
    left: 1013px;
    top: 894px;
  }







  
